* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* .footer-section ul li a {
    color: #2B1C59;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-section ul li a:hover {
    color: #ff652c;
} */


.footer {
    background-color: #f8f9fa;
    padding: 40px 0;
}

.footer-cont {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-section {
    flex: 1;
    padding: 0 20px;
}

.footer-section img {
    max-width: 150px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

ul li a {
    color: #2B1C59;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s;
}

ul li a:hover {
    color: #ff652c;
}

.footer-section input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    margin-bottom: 10px;
}

.footer-bottom .social li{
    display: inline-block;
    margin-right: 20px;
}